/caddy/frankenphp/Build
/caddy/frankenphp/frankenphp
/caddy/frankenphp/frankenphp.exe
/dist
/github_conf
/internal/testserver/testserver
/internal/testcli/testcli
/package/etc/php.ini
/super-linter-output
/vcpkg_installed/
.DS_Store
.idea/
.vscode/
__debug_bin
frankenphp.test
*.log
*.o
compile_flags.txt
